In [6]:
#연습문제
set_3 = {x+1 for x in range(100) if (x+1)%3==0}
set_5 = {x+1 for x in range(100) if (x+1)%5==0}

result_set = set_3.intersection(set_5)
print(result_set)

{75, 45, 15, 90, 60, 30}

In [16]:
#연습문제
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

res = role_admin + role_hr + role_user
res = set(res)
res = list(res)
res.sort()
print(", ".join(res))

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리

In [18]:
#연습문제
def plusTen(x):
    return x+10
print(plusTen(70))

80

In [19]:
#연습문제
def toCelsius(f):
    """Takes in Farenheit, returns Celcius"""
    return (f-32)*5/9

toCelsius(70)

21.11111111111111

In [21]:
#연습문제
def oddEven(n):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if (type(n)==int and n<=0) or (type(n)!=int): #정수타입이지만 자연수가 아닌 경우와 정수타입이 아닌 경우 None 반환
        return None
    elif n%2==0: 
        return "짝수"
    return "홀수"

In [23]:
oddEven(10)

'짝수'

In [27]:
def odd_even(n):
    if type(n) is int and n>0:
        return "짝수" * (number%2==0) or "홀수"
    return

isdecimal(), isnumerical(), isdigit() 활용 가능

In [31]:
def leap_year(year):
    return '평년'*(year%4!=0 or (year%100==0 and year%400!=0)) or '윤년'

In [34]:
leap_year(1900)

'평년'

In [35]:
def days(m):
    d30 = [4, 6, 9, 11]
    if m==2:
        return 28
    elif m in d30:
        return 30
    return 31

In [38]:
days(11)
days(2)
days(1)

31

In [41]:
def days(y, m):
    d30 = [4, 6, 9, 11]
    if m==2:
        return 28*(y%4!=0 or (y%100==0 and y%400!=0)) or 29
    elif m in d30:
        return 30
    return 31

In [43]:
days(2004, 2)

29

제일 바깥 영역인 전역 변위(global scope)에서 변수를 선언하고 활용했다. 이를 global variable이라 한다.
이에 반해 local scope에서 선언된 변수는 바깥에서 접근이 불가능하다. 즉 local variable은 변수가 선언된 함수 안에서만 접근 가능하다.

lambda는 호출될 때 값이 구해지는 하나의 표현식이며, 이름이 없는 인라인 함수이다.
lambda[parameters]:expression

람다 표현식 전체를 소괄호로 감싸고 뒤에 함수를 호출하듯이 소괄호를 붙이면 바로 호출된다.

In [46]:
(lambda x:x+10)(1)

11

람다는 기본적으로 anonymous function이다. 변수에 할당에서 호출할 수 있으며 first-class object이다.
expression 부분은 in-line이여야 하기 때문에 표현식 안에 새 변수를 만들 수 없다.
inline if else와 활용하면 좋은데, 이때 항상 else까지 조건을 붙여줘야 한다.
람다와 map()을 함께 사용할 땐 다음과 같이 쓴다.
map(lambda parameter1, parameter2,... : expression, iterable1, iterable2, ...)

In [47]:
a = [_ for _ in range(1, 6)]
b = [_ for _ in range(2, 11, 2)]

print(list(map(lambda x, y: x*y, a, b)))

[2, 8, 18, 32, 50]

람다와 filter()를 함께 사용할 땐 다음과 같이 표현한다. filter()는 첫인수로 들어가는 함수의 반환 값이 True일 때만 해당 요소를 가져온다.
그러나 list comprehension으로도 똑같이 가능하며 속도와 가독성 모두 더 낫다.
map(lambda parameter : expression, iterable)

Object Oriented Programming(OOP)는 복잡한 문제를 잘게 객체로 나누어 이를 조합해서 문제를 해결하는 방법이다.
현실 세계의 복잡한 문제를 해결하는데 유용하며 기능을 개선하고 발전시킬 때도 해당 클래스만 수정하면 되므로 큰 프로젝트의 유지보수에도 매우 효율적이다.
객체가 가진 데이터를 클래스의 속성(Attribute)이라 부르고 객체가 갖는 기능을 메서드(Method)라 부른다.

Class는 사용자 정의 객체를 만들기 위한 주형이다. 보통 클래스의 인스턴스를 대상으로 연산하는 메서드 정의를 포함하고 있다.

class ClassName:
    def methon_name(self):
        method_body
    
    class_body
    
여기서 인스턴스는 특정 클래스로부터 만들어진 실체로, 부르는 구체적인 내용은 조금 달으지만 객체와 같은 말이다.
인스턴스의 생성은 클래스명 오른편에 소괄호를 붙여서 만든다.

instance_var = ClassName()

Method는 클래스 바디 안에서 정의되는 함수이다. 클래스의 인스턴스의 attribute로써 호출되면, 그 메서드는 self를 먼저 reference 해야 한다.

In [48]:
class Person:
    def __init__(self): #init 메서드 안에서 self.attribue에 값을 할당하면 된다.
        self.hello = "안녕하세요."
        
    def greeting(self):
        print(self.hello)
        
james = Person()
james.greeting()

안녕하세요.